* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    list-style: none;
}
:root {
    --chiffre-color: #9356dc;
    /* var(--chiffre-color) */
    --second-color: #ff79da;
    /* var(--second-color) */
    --apparition-color: #99e2d0;
    /* var(--apparition-color) */
}

/*************** NAVBAR ***************/
.nav{
    margin-bottom: 15px;
}
#logo{
   display: block;
   margin: auto;
   width: 200px;
   margin-top: 4%;
}
.nav a .fa-solid {
    position: absolute;
    top: 24px;
    left: 23px;
    color: gray;
}

/*COEUR*/

.icone {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #heart-checkbox {
    display: none;
  }
  #heart-checkbox2{
    display: none;
  }
  #heart-checkbox3{
    display: none;
  }
  #heart-checkbox4{
    display: none;
  }
.plein-coeur{
    display: none;
    opacity: 0.5;
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#heart-checkbox:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
}

#heart-checkbox2:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
}
#heart-checkbox3:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
}

#heart-checkbox4:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
}

  @keyframes full {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
}

    #heart-checkbox:checked + label > i.vide-coeur {
    display: none;
}
    #heart-checkbox2:checked + label > i.vide-coeur {
    display: none;
}
    #heart-checkbox3:checked + label > i.vide-coeur {
    display: none;
}
    #heart-checkbox4:checked + label > i.vide-coeur {
    display: none;
}
 /*FIN COEUR*/

img{  
    width: 100%;
    object-fit: cover;
}
#photo{
    height: 300px;
}

#restaurants{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: large;
}
.menu{
    background-color: rgb(246, 246, 246);
    border-radius: 50px 50px 0px 0px;
    display: inline-block;
    width: 100%;
    margin-top: -70px;/*au dessus de l'image*/
}
h1{
    font-family: 'Shrikhand', cursive; 
}
h2{
    margin-right: 5%;
    font-family: 'Shrikhand', cursive; 
}
h3{
    border-bottom: var(--apparition-color);
    border-bottom-style: solid;
    width: 45px;
    margin-left: 5%;
    position: relative;
 
}
.carte{
    margin-bottom: 48px;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 15px;
}
.plat {
    width: 100%;
    height: 80px;
    display: flex;
}
.plat .button {
    height: 100%;
    padding: 0px;
}
.icone
{ 
   font-size: 100%;
}
.description{
    width: 100%;
    position: relative;
    line-height: 16px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.description:hover .nom { 
    width: 60%;
    transition:  all 0.5s; 
}

.button:hover .prix{
    transform: translateX(-80px); /* X = axe honrizontal*/
    transition: all 0.5s;
}
.button:hover .check{
    width: 80px;
    font-size: 20px;
}
.button{
    background-color: white;
    width: 90%;
    border-style: none;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 15px;
    margin-left: 5%;
    text-align: left;
    margin-top: 5%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    position: relative;
   
}
.nom{
    padding-left: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.nom h4{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    font-weight: bold;
}
.nom p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.check{
    height: 100%;
    width: 0px;
    position: absolute;
    right: 0px;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--apparition-color);
    color: white;
    transition: all 0.5s;
}
.check .fa-check{
    border-radius: 50px;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--apparition-color);
}
#containerBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.commander {
    border-radius: 20px;
    height: 50px;
    width: 200px;
    background: linear-gradient(to bottom right, var(--second-color), var(--chiffre-color));
    color: white;
    border-style: none;
    font-weight: bolder;
    margin-top: 5%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.commander:hover{
    opacity: .7;
    box-shadow: 0px 4px 15px 0px #00000059;

}
.footer{
    width: 100%;
    background-color: rgb(56, 56, 56);
    padding: 22px 8px 22px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer h2 {
    width: 100%;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    line-height: 45px;
}
.quatreLiens {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}
.quatreLiens li a {
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.mention-contact { 
    color: white;
}
footer .fa-solid {
    width: 10px;
    height: 13px;
    color: white;
    padding: 0%;
}
/********keyframe check********/

@keyframes checked-animation {
    from {
        width: 0px;
    }
    to {
        width: 80px;
    }
}
@keyframes checked-animation-reverse {
    from{
        width: 80px;
    }
    to{
        width: 0px;
    }
}
/********keyframe apparition menu********/

.carteEntrees li{
    animation: fadeIn 1s linear, 
    moveUp 1s linear;
}
.carte_Plats li{
    animation: fadeIn 2s linear, 
    moveUp 2s linear;
}
.carte_Desserts li{
    animation: fadeIn 3s linear, 
    moveUp 3s linear;
}

/*Animation des menus*/

@keyframes fadeIn {
    from {
        opacity: 0;  /*fin*/
    }
    to {
        opacity: 3;  /*début*/
    }
}

@keyframes moveUp {
    from {
        transform: translateY(80px); 
    }
    to {
        transform: translateY(0px); /*Y = axe vertical*/
    }
}


/* TABLETTE */

@media screen and (min-width: 769px) {
    .button{
        margin-top: 2%;
    }
    #containerBtn {
        padding: 2%;
    }
}
@media screen and (min-width : 1025px){

    #logo {
        width: 20%;
        margin-top: 2%;
    }
    .nav a .fa-solid {
        top: 35px;
    }
    .icone{
        margin-top: 0%;
    }
    #photo {
        height: 400px;
        object-fit: cover;
    }
    .menu{
        width: 70%;
        margin-left: 15%;
    }
    .carte{
        margin-bottom: 100px;
    }
    h3{
        margin-bottom: 10px;
        top: 30px;
    }
    .button {
        margin-top: 5%;
    }
    #containerBtn{
        padding: 2%;
    }
    .commander{
        width: 25%;
        margin: 2px 0px 40px;
    }
    
    /*************** FOOTER ***************/

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
.mention-contact {
    padding-left: 40px;
    color: white;
}
.footer ul{
    display: flex;
    margin-right: 20%;
    flex-direction: row;
    position: relative;
    gap: 20px;
}
.footer h2{
    width: 0%;
    position: absolute;
    display: flex;
    justify-content: end;
}
}
