* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
/*************** LOADER ***************/
#loaderContainer{
    height: 100%;
    background-color: white;
    font-size: 40px;
    visibility: hidden;
    position: fixed;
    top:0; 
    left:0;
    width: 100%;
    animation: display-loader 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1; /* en dessous de l'écran*/
}
#loaderContainer p{
    top: 44px;
    font-family: 'Shrikhand', sans-serif;
} 
.loader{
    width: 50px;
    height: 50px;
    bottom: 12%;
    right: 2%;
    position: relative;
}
.loader-rond{
    border-radius: 50px;
    border: 5px solid rgba(228, 0, 253, 0.4);
}
.loader-rond:after{
    content: '';
    position: absolute;
    top: -5px; left: -5px; bottom: -5px; right: -5px;
    border-radius: 50px;
    border: 5px solid transparent;
    border-top-color: rgb(240, 192, 255);
    animation: spin 1s linear infinite;
}
/*Animation loader*/
@keyframes display-loader{
0% {
    visibility: visible;
    z-index: 10;
}
99%{
    visibility: visible;
    z-index: 10;
}
100%{
    visibility: hidden;
    z-index: -1;
}
}
@keyframes spin{
    0%{transform: rotate(0deg); }
    100%{transform: rotate(360deg);}
}
/*************** FIN LOADER ***************/
 /*CSS général*/
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.classCentrer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textAlign{
    text-align: center;
}
.noneDecoration{
    text-decoration: none;
}
.listNone {
    list-style: none;
}
/*************** NAVBAR ***************/
.navbar {
    width: 100%;
    height: 63px;
    background-color: white;
    padding-top: 14px;
    box-shadow: 0px 2px 4px rgb(206, 206, 206);
}
.logo {
    width: 200px;
    height: 40px;
}
.locationBox {
    position: relative;
    height: 50px;
    background-color: rgb(234, 234, 234);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    gap: 15px;
}
#localisation{
    color: black;
}
#ville{
    border-style: none;
    background-color: rgb(234,234,234);
    width: 100px;
}
input::placeholder{
    color: black;
    font-weight: bold;
}
/*************** FIN NAVBAR ***************/
/*************** RESERVATION ***************/
.reservation{
    min-width: 200px;
    padding: 50px 0px 50px 0px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    align-items: center;
}
.textAlign h2{
    width: 75%;
    margin: auto;
}
.textAlign p{
    margin: auto;
    width: 80%;
    font-style: normal;
    line-height: 20px;
    color: gray;

}
/*************** BOUTON ***************/
.boutton:hover{
    opacity: .8;
}
.boutton{
    height: 50px;
        border-radius: 20px;
        width: 250px;
        background: linear-gradient(to bottom right, rgb(255, 121, 218), rgb(147, 86, 220));
        border-style: none;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
        transition: .3s ease-in-out;
}
.boutton p{
    color: white;    
}
/*************** FONCTIONNEMENT ***************/
.fonctionnement {
    padding: 46px 20px 68px 20px;  
}
.troisLiens {
    display: flex;
    flex-direction: column;
    gap: 25px;
    counter-reset: my-counter;
}

.troisLiens i.fa-store {
    color: #9356dc;
}

/*************** FONCTIONNEMENT ***************/
.troisLiens li {
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 15px;
    height: 75px;
    justify-content: center;
}
.troisLiens li:hover{
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}
.iconGrey {
    color: gray
}
.iconPurple {
    color: purple}

    /*CSS chiffre*/
.troisLiens li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    background-color: rgb(147, 86, 220);
    border-radius: 50%;
    color: white;
    position: absolute;
    left: -12px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************** RESTAURANT ***************/
.restaurant{
    padding: 46px 20px 68px 20px; 
    background-color: rgb(246, 246, 246)
}
#Les4Restaurants {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
    
.carte {
    background-color: white;
    position: relative;
    border-radius: 20px;
    width:100%;
    height: 250px;
    display: grid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    gap: 10px;
}
.carte:hover{
    transform: scale(1.05);
}

.carte img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 180px;
}

.description {
    width: 100%;
    background-color: white;
    height: 30%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-left: 5%;
   
}
/*COEUR*/

.icone {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -50px;
    padding-right: 10%;
  }
  #heart-checkbox {
    display: none;
  }
  #heart-checkbox2{
    display: none;
  }
  #heart-checkbox3{
    display: none;
  }
  #heart-checkbox4{
    display: none;
  }
.plein-coeur{
    display: none;
    opacity: 0.5;
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#heart-checkbox:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
}
#heart-checkbox2:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
  }
#heart-checkbox3:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
}
#heart-checkbox4:checked + label > i.plein-coeur {
    display: inline-block;
    animation: full 0.5s;
    opacity: 1;
  }

  @keyframes full {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
    #heart-checkbox:checked + label > i.vide-coeur {
    display: none; /*le coeur disparait au moment du click*/
  }
    #heart-checkbox2:checked + label > i.vide-coeur {
    display: none;
  }
    #heart-checkbox3:checked + label > i.vide-coeur {
    display: none;
  }
    #heart-checkbox4:checked + label > i.vide-coeur {
    display: none;
  }
 /*FIN COEUR*/
.new {
    background-color: #99e2d0;
    color: green;
    display: flex;
    width: 80px;
    justify-content: center;
    height:29px;
    position: absolute;
    right: 11px;
    top: 5%;
}

/********FOOTER*********/
.footer{
    width: 100%;
    background-color: rgb(56, 56, 56);
    padding: 22px 8px 22px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer h2 {
    width: 100%;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    line-height: 45px;
}
.quatreLiens {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}
.quatreLiens li a {
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.mention-contact {
    color: white;
}
footer .fa-solid {
    width: 10px;
    height: 13px;
    color: white;
    padding: 0%;
}

/* TABLETTE */

@media screen and (min-width: 769px) {
    #Les4Restaurants{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*DESKTOP*/
@media screen and (min-width : 1025px){
.textAlign h2 {
    width: 100%;
    font-size: 40px;
}
.textAlign p {
    width: 100%;
}
.troisLiens{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.troisLiens li {
    width: 32%;
}

.fonctionnement{
    width: 100%;
}

.liens a {
    width: 300px;
}

/*************** RESTAURANT ***************/
#Les4Restaurants{
    display: grid;
    justify-content: space-between;
    row-gap: 70px;

}

.carte {
    background-color: white;
    position: relative;
    border-radius: 20px;
    width:100%;
  
    height: 250px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
 
}
.carte:hover{
    transform: scale(1.05);
}

.carte img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 180px;
}

.description {
    width: 100%;
    background-color: white;
    height: 30%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-left: 5%;
   
}


/*************** FOOTER ***************/

.footer {
  

    display: flex;

    justify-content: flex-start;
    align-items: end;
}
.mention-contact {
    padding-left: 40px;
    color: white;
}
.footer ul{
display: flex;
margin-right: 20%;
flex-direction: row;

position: relative;
gap: 20px;
}
.footer h2{
    width: 0%;
    position: absolute;
    display: flex;
    justify-content: end;
}
}